.banner
  position relative
  #main-slider
    margin 0
    .slick-dots
      bottom 0
      z-index 1
      li
        margin 0 6px 0 0
        width 10px
        height 10px
        button
          padding 0
          width 10px
          height 10px
          &:before
            content ""
            width 10px
            height 10px
            border-radius 50%
            background-color #a4a4a4
        &.slick-active
          button:before
            background-color #707070
    .item
      display block
