extends ../../common/html/layout

block content
  h1.display-none cfa
  .area-inner
    .content-wrap 
      h3.colored-text CFA Institute（CFA协会）隐私政策
      p.date.colored-text 最近更新日期：2014年3月
      p 本隐私政策（“隐私政策”）说明了CFA Institute（CFA协会）收集及保护某些个人可识别信息（“个人信息”）的方式及CFA Institute（CFA协会）使用、处理、转移及共享个人信息的方式。CFA Institute（CFA协会）（地址位于美国弗吉尼亚州夏洛茨维尔市东大街 915号（邮编：22902））拥有本网站（“协会网站”）的权益并进行常规运营。本隐私政策适用于：通过协会网站收集的个人信息；线下收集的关于CFA Institute（CFA协会）及投资表现衡量证书协会(Certificate in Investment Performance Measurement Association)会员（“协会会员”）的个人信息；CFA®、CIPM®及Claritas®课程参与人员的个人
      .privacy-detail
        h4.title.colored-text 要点概述
        ul
          li 在您通过协会网站向CFA Institute（CFA协会）提供信息时；在您登记报名参加考试时；或通过其他方式与CFA Institute进行交流时，我们会收集您的个人信息。
            a(href="#info").colored-text 如希望更多地了解CFA INSTITUTE 所收集的信息，请点击此处。
          li 在您通过协会网站向CFA Institute（CFA协会）提供信息时；在您登记报名参加考试时；或通过其他方式与CFA Institute进行交流时，我们会收集您的个人信息。
            a(href="#use").colored-text 如希望更多地了解我们使用信息的方式，请点击此处。
          li 在您通过协会网站向CFA Institute（CFA协会）提供信息时；在您登记报名参加考试时；或通过其他方式与CFA Institute进行交流时，我们会收集您的个人信息。
            a(href="#cookie").colored-text 如希望更多地了解我们使用COOKIES及其他技术的方法和选择禁用COOKIES的方法，请点击此处。
          li 在您通过协会网站向CFA Institute（CFA协会）提供信息时；在您登记报名参加考试时；或通过其他方式与CFA Institute进行交流时，我们会收集您的个人信息。
            a(href="#prefer").colored-text 如希望更多地了解如何设置偏好及如何禁止该等披露，请点击此处。
          li 在您通过协会网站向CFA Institute（CFA协会）提供信息时；在您登记报名参加考试时；或通过其他方式与CFA Institute进行交流时，我们会收集您的个人信息。
            a(href="#more").colored-text 如希望了解更多，请点击此处。
      .privacy-detail
        h4.title.colored-text#more 同意
        p 您使用协会网站及向CFA Institute（CFA协会）提供个人信息时，即表示您同意我们依据本隐私政策规定处理并转移您的个人信息。若您位于美国之外的国家，即表示您同意我们依据本隐私政策将您的个人信息转移到位于美国的CFA Institute（CFA协会），或转移到CFA Institute（CFA协会）选定的位于美国的第三方，或转移到CFA Institute（CFA协会）选定的位于其他国家的CFA Institute（CFA协会）地方分会及第三方。这些国家对您的个人信息提供的数据保护水平可能不及您的国家所提供的水平。在您向CFA Institute（CFA协会）提供“敏感”个人信息时，比如关于民族、种族、宗教或哲学信仰，以及健康或医疗状态的信息
      .privacy-detail
        h4.title.colored-text#info 我们所收集的信息
        p 为使我们更好地理解您的需求，向您提供个性化且高效的服务及为本隐私政策中的其他目的，我们会收集您的个人信息。通常，我们会直接通过您提供给CFA协会的信息中获取个人信息；我们也会使用Cookies及其他技术自动获取个人信息；在某些情况下，我们也会从第三方处获取个人信息，比如相关课程或者有CFA Institute（CFA协会）参与会议的赞助方。
        ul 
          li.colored-text 您向CFA Institute（CFA协会）提供的信息
            p 您可能会通过多种方式向CFA Institute（CFA协会）提供个人信息，包括：（1）通过使用协会网站，比如注册账户，并接收简报；（2）通过您在CFA Institute（CFA协会）的在线账户；（3）登记报名CFA Institute（CFA协会）的任何考试，包括CFA特许资格认证持有人、投资表现衡量证书及Claritas考试；（4）在成为协会会员时；（5）在以电子方式或通过提供纸质文件与CFA Institute（CFA协会）进行交流时；（6）在报名参加CFA Institute（CFA协会）会议或活动
            p 我们所手机的个人信息可能包括：您的全名、办公地址、家庭住址、电子邮箱、电话号码、信用卡号码， 我们所手机的个人信息可能包括：您的全名、办公地址、家庭住址、电子邮箱、电话号码、信用卡号码、 我们所手机的个人信息可能包括：您的全名、办公地址、家庭住址、电子邮箱、电话号码、信用卡号码。
          li.colored-text#cookie 协会网站通过COOKIES及其他追踪机制收集的信息
            p 您可能会通过多种方式向CFA Institute（CFA协会）提供个人信息，包括：（1）通过使用协会网站，比如注册账户，并接收简报；（2）通过您在CFA Institute（CFA协会）的在线账户；（3）登记报名CFA Institute（CFA协会）的任何考试，包括CFA特许资格认证持有人、投资表现衡量证书及Claritas考试；（4）在成为协会会员时；（5）在以电子方式或通过提供纸质文件与CFA Institute（CFA协会）进行交流时；（6）在报名参加CFA Institute（CFA协会）会议或活动
            p 我们所手机的个人信息可能包括：您的全名、办公地址、家庭住址、电子邮箱、电话号码、信用卡号码， 我们所手机的个人信息可能包括：您的全名、办公地址、家庭住址、电子邮箱、电话号码、信用卡号码、 我们所手机的个人信息可能包括：您的全名、办公地址、家庭住址、电子邮箱、电话号码、信用卡号码。
          li.colored-text 通过第三方COOKIES及其他追踪机制收集的信息
            p 您可能会通过多种方式向CFA Institute（CFA协会）提供个人信息，包括：（1）通过使用协会网站，比如注册账户，并接收简报；（2）通过您在CFA Institute（CFA协会）的在线账户；（3）登记报名CFA Institute（CFA协会）的任何考试，包括CFA特许资格认证持有人、投资表现衡量证书及Claritas考试；（4）在成为协会会员时；（5）在以电子方式或通过提供纸质文件与CFA Institute（CFA协会）进行交流时；（6）在报名参加CFA Institute（CFA协会）会议或活动
            p 我们所手机的个人信息可能包括：您的全名、办公地址、家庭住址、电子邮箱、电话号码、信用卡号码， 我们所手机的个人信息可能包括：您的全名、办公地址、家庭住址、电子邮箱、电话号码、信用卡号码、 我们所手机的个人信息可能包括：您的全名、办公地址、家庭住址、电子邮箱、电话号码、信用卡号码。
              a(href="http://www.adobe.com/cn/privacy/analytics.html").colored-text 如需阅读OMNITURE隐私政策中的退出方式，请点击此处。
              a(href="http://www.adobe.com/cn/privacy.html").colored-text 如需阅读OMNITURE的隐私政策，请点击此处。
      .privacy-detail
        h4.title.colored-text#use 我们如何使用信息
        p CFA Institute（CFA协会）可能会使用您的个人信息，以便向您提供CFA Institute（CFA协会）产品及服务，并向您通告您可能感兴趣的其他CFA Institute（CFA协会）产品及服务。我们可能特别为下列目的使用
        ul 
          li 确定并维护您的CFA会员组织会员及投资表现衡量证书资格；
          li 确定并维护您的CFA会员组织会员及投资表现衡量证书资格；
          li 确定并维护您的CFA会员组织会员及投资表现衡量证书资格；
          li 确定并维护您的CFA会员组织会员及投资表现衡量证书资格；
          li 确定并维护您的CFA会员组织会员及投资表现衡量证书资格；
        p CFA Institute（CFA协会）可能会使用您的个人信息，以便向您提供CFA Institute（CFA协会）产品及服务，并向您通告您可能感兴趣的
      .privacy-detail
        h4.title.colored-text 我们如何共享信息
        p CFA Institute（CFA协会）可能按如下方式共享个人信息：
        ul 
          li.colored-text 第三方处理机构及交易处理
            p  我们可能会与挑选出的第三方共享个人信息。这些第三方会提供我们认为您会感兴趣的服务或产品。他们可能就其自身的服务或产品联系您，与您进行沟通。这些第三方可能包括考试预备服务提供商、CFA Institute（CFA协会）活动的展览人及发起人、大学课程合作伙伴及其他CFA Institute（CFA协会）合作伙伴。
          li.colored-text#service 第三方产品及服务
            p  我们可能会与挑选出的第三方共享个人信息。这些第三方会提供我们认为您会感兴趣的服务或产品。他们可能就其自身的服务或产品联系您，与您进行沟通。
              a(href="#prefer").colored-text 若您不希望CFA INSTITUTE与该等第三方共享个人信息，您可在登记报名考试时或通过联系CFA退订。
              | 我们可能会与挑选出的第三方共享个人信息。这些第三方会提供我们认为您会感兴趣的服务或产品。他们可能就其自身的服务或产品联系您，
          li.colored-text 您向CFA Institute（CFA协会）提供的信息
            p 您可能会通过多种方式向CFA Institute（CFA协会）提供个人信息，包括：（1）通过使用协会网站，比如注册账户，并接收简报；（2）通过您在CFA Institute（CFA协会）的在线账户；（3）登记报名CFA Institute（CFA协会）的任何考试，包括CFA特许资格认证持有人、投资表现衡量证书及Claritas考试；（4）在成为协会会员时；（5）在以电子方式或通过提供纸质文件与CFA Institute（CFA协会）进行交流时；（6）在报名参加CFA Institute（CFA协会）会议或活动
          li.colored-text 您向CFA Institute（CFA协会）提供的信息
            p 您可能会通过多种方式向CFA Institute（CFA协会）提供个人信息，包括：（1）通过使用协会网站，比如注册账户，并接收简报；（2）通过您在CFA Institute（CFA协会）的在线账户；（3）登记报名CFA Institute（CFA协会）的任何考试，包括CFA特许资格认证持有人、投资表现衡量证书及Claritas考试；（4）在成为协会会员时；（5）在以电子方式或通过提供纸质文件与CFA Institute（CFA协会）进行交流时；（6）在报名参加CFA Institute（CFA协会）会议或活动
            p 我们所手机的个人信息可能包括：您的全名、办公地址、家庭住址、电子邮箱、电话号码、信用卡号码， 我们所手机的个人信息可能包括：您的全名、办公地址、家庭住址、电子邮箱、电话号码、信用卡号码、 我们所手机的个人信息可能包括：您的全名、办公地址、家庭住址、电子邮箱、电话号码、信用卡号码。
              a(href="#").colored-text 如希望更多地了解CFA INSTITUTE 所收集的信息，请点击此处。
      .privacy-detail
        h4.title.colored-text CFA Institute（CFA协会）社交网站及社交媒体网站
        p 协会网站可能提供建立社交网络、与他人互动及发布信息或其他内容的机会，比如在CFA Institute（CFA协会）的博客上（“CFA Institute（CFA协会）社交网站”）。协会网站也会通过插件与第三方网站或服务进行互动，包括社交网站。请注意，您通过CFA Institute（CFA协会）网络站点发布的所有信息或资料均将公布给访问相关网站的人士。在第三方社交网站或其他网站上（“社交媒体”）发布的内容，包括在协会网站上，您“分享”或 “点赞”的所有内容，均将由相关社交网站或其他网站控制，并遵守其条款。当您通过CFA Institute（CFA协会）社交网络站点提交任何信息或材料时，或通过插件与第三方网站或
          a(href="./terms.html").colored-text ￼￼在使用CFA社交网站时，您应遵守我们的条款和条件。
      .privacy-detail
        h4.title.colored-text#prefer 您的偏好
        p 您可随时通过CFA网站中的
          a(href="https://login.cfainstitute.org/LoginApplication/Login.aspx?ReturnUrl=/_layouts/Authenticate.aspx? Source=/Pages/index.aspx").colored-text 管理账户
          ｜ 模块更改您的账户偏好，更新您的个人资料。
          a(href="#service").colored-text（返回第三方产品及服务）
        p 协会网站可能提供建立社交网络、与他人互动及发布信息或其他内容的机会，比如在CFA Institute（CFA协会）的博客上（“CFA Institute（CFA协会）社交网站”）。协会网站也会通过插件与第三方网站或服务进行互动，包括社交网站。请注意，您通过CFA Institute（CFA协会）网络站点发布的所有信息或资料均将公布给访问相关网站的人士。在第三方社交网站或其他网站上（“社交媒体”）发布的内容，包括在协会网站上，您“分享”或 “点赞”的所有内容，均将由相关社交网站或其他网站控制，并遵守其条款。当您通过CFA Institute（CFA协会）社交网络站点提交任何信息或材料时，或通过插件与第三方网站或
      .privacy-detail
        h4.title.colored-text 访问并更新个人信息
        p 协会网站可能提供建立社交网络、与他人互动及发布信息或其他内容的机会，比如在CFA Institute（CFA协会）的博客上（“CFA Institute（CFA协会）社交网站”）。协会网站也会通过插件与第三方网站或服务进行互动，包括社交网站。请注意，您通过CFA Institute（CFA协会）网络站点发布的所有信息或资料均将公布给访问相关网站的人士。在第三方社交网站或其他网站上（“社交媒体”）发布的内容，包括在协会网站上，您“分享”或 “点赞”的所有内容，均将由相关社交网站或其他网站控制，并遵守其条款。当您通过CFA Institute（CFA协会）社交网络站点提交任何信息或材料时，或通过插件与第三方网站或
      .privacy-detail
        h4.title.colored-text 安全
        p 协会网站可能提供建立社交网络、与他人互动及发布信息或其他内容的机会，比如在CFA Institute（CFA协会）的博客上（“CFA Institute（CFA协会）社交网站”）。协会网站也会通过插件与第三方网站或服务进行互动，包括社交网站。请注意，您通过CFA Institute（CFA协会）网络站点发布的所有信息或资料均将公布给访问相关网站的人士。在第三方社交网站或其他网站上（“社交媒体”）发布的内容，包括在协会网站上，您“分享”或 “点赞”的所有内容，均将由相关社交网站或其他网站控制，并遵守其条款。当您通过CFA Institute（CFA协会）社交网络站点提交任何信息或材料时，或通过插件与第三方网站或
          a(href="#").colored-text 如希望更多地了解CFA INSTITUTE 所收集的信息，请点击此处
        p 协会网站可能提供建立社交网络、与他人互动及发布信息或其他内容的机会，比如在CFA Institute（CFA协会）的博客上（
      .privacy-detail
        h4.title.colored-text 链接
        p 协会网站可能提供建立社交网络、与他人互动及发布信息或其他内容的机会，比如在CFA Institute（CFA协会）的博客上（“CFA Institute（CFA协会）社交网站”）。协会网站也会通过插件与第三方网站或服务进行互动，包括社交网站。请注意，您通过CFA Institute（CFA协会）网络站点发布的所有信息或资料均将公布给访问相关网站的人士。在第三方社交网站或其他网站上（“社交媒体”）发布的内容，包括在协会网站上，您“分享”或 “点赞”的所有内容，均将由相关社交网站或其他网站控制，并遵守其条款。当您通过CFA Institute（CFA协会）社交网络站点提交任何信息或材料时，或通过插件与第三方网站或
          a(href="#").colored-text 如希望更多地了解CFA INSTITUTE 所收集的信息，请点击此处
        p 协会网站可能提供建立社交网络、与他人互动及发布信息或其他内容的机会，比如在CFA Institute（CFA协会）的博客上（
      .privacy-detail
        h4.title.colored-text 联系我们
        p 如需了解更多关于CFA信息，
          a(href="https://www.cfainstitute.org/utility/contact/Pages/index.aspx").colored-text 请联系我们。
