@require '../../common/css/define'

colored-block-with(#5b77cc)
.privacy-detail
  margin-top 40px
  .title
    font-size 25px
    font-weight normal
    margin 0 0 20px 0
    +media_s()
      font-size 20px
  ul
    li
      margin-bottom 20px
      &.colored-text
        p
          color #161616
          
  a.colored-text
    color #003DA5
