extends ../../common/html/layout

block content
  .area-inner
    .news-wrap
      .news-control
        a(href='#').colored-text.back < 返回
        a(href='#').colored-text.next 下一篇 >
        a(href='#').colored-text.prev < 上一篇
      .news-box
        h1.news-title.colored-text 中国GDP将在十年内超过美国？
        .news-subtitle1.colored-text 2015年8月6日
        .news-subtitle2.colored-text Larry Cao，CFA
        .news-image.responsive-img
          img.desktop(src='http://placehold.it/960x480?text=Desktop' alt="cfa")
          img.mobile(src='http://placehold.it/960x480?text=Mobile' alt="cfa")
        p 2011年，《经济学人》杂志刊文称：“中国经济真正超越美国指日可待。”据其推测， 这将最早于2018年发生。
        p 北大光华管理学院国际金融系教授迈克尔·佩蒂斯，就此提出异议。他认为这种预测过于乐观。他在《金融时报》发表的文章中，向《经济学人》提出质疑，声称中国绝不会在2018年取代美国成为全球最大的经济体。
        p 双方的推测依据如下：《经济学人》假设，中国的实际GDP将每年增长7.75％，通胀率为4％；而美国的这两项数据分别为2.5％和1％。更重要的是，他们还假设人民币对美元升值的速度将达每年3％，中国的名义GDP增长率(按美元计算)将以两位数击败美国。佩蒂斯认为这种预测十分牵强。
        p 这场争论到目前为止进展如何？根据2012-2014年世界银行的数据，《经济学人》的预测几乎准确无误，但只有一点除外：通胀在中国得到了较好的遏制。汇率始终是难以预测；事实表明，人民币自2011年年底以来只升值了大约1.5％。总而言之，中国是以较大的个位数在增长，但仍稍低于《经济学人》的预测。
        p 剩下三年半的时间，这场争论谁将最终胜出仍无定论。毕竟，中国的名义GDP增长率（以美元计算）一旦下滑，就会让无数人失眠。专业和业余投资者需铭记在心的事实包括以下几点：
        ul
          li 按人均GDP计算，中国远远落后于美国，弥补这一差距至少需要数十年
          li 即使按总量计算，中国的经济规模大约只有美国的60％（使用市场汇率）
          li 按购买力平价计算——即所生产真正商品和服务的数量，国际货币基金组织的报告称中国已在2014年成为最大的经济体 
        p 前两点可能最为重要，但既然佩蒂斯与《经济学人》的争论能引发众多关注，说明大多数人已接受了一种观念，即：中国终将取代美国成为头号经济强国只是时间的问题。对于这种预测，投资者应在做相关决策时妥善考虑。
        p 在芝加哥举行的第65届CFA Institute （CFA协会）年会中，佩蒂斯讨论了中国增长的轨迹和可持续性，并对其国内消费能力进行了分析。在我们的视频库中，有他对于中国在世界经济中所起作用的谈话视频。
        p.note 所有文章均为作者个人的观点，不应视为投资建议；文章所发表的意见并不代表CFA Institute （CFA协会）或作者雇主的观点。 
          
        a.button.colored-bg(href='#')
          .icon.download
          | 下载了解更多资讯

      .news-control
        a(href='#').colored-text.back < 返回
        a(href='#').colored-text.next 下一篇 >
        a(href='#').colored-text.prev < 上一篇
