@require 'lib/functions'


break_points = 600px 1200px
types = s m l
max = 5


.gasper-grid
	display		block
	width		100%
	&:before
	&:after
		content		""
		display		table

	&:after
		clear		both

	build(break_points, types, max)
