extends ../../common/html/layout

block content
  +banner-slider()
  h1.display-none cfa
  +color-block('愿景<br>使命')(class="mission opposite")

    .content-wrap
      h3.colored-text 愿景
      p.
        中国金融市场的健康发展更是监管者和CFA协会的共同愿景。CFA协会希望CFA中国以及各地金融分析师协会可以
        成为内地打造金融高端人才的助力，有助于中国企业的国际化发展，从而实现中国金融市场的可持续发展。CFA
        协会盼与业界携手，成就新愿景；汇聚全球金融力量，缔造美好生活。
      h3.colored-text 使命
      p.
        提供最优质的会员服务支持CFA投资专业标准。通过后续教育及活动建立广泛的会员之间及会员与投资团体之间
        紧密的联系。协助中国金融市场的健康发展，与各地金融办合作加强业内人士的专业知识，推广行业守则以达至
        世界标准。培养本地人才以满足中国金融发展的需要。

  +color-block('CFA<br>价值观')(class='values')
    .responsive-img
      img.desktop(src="http://placehold.it/720x360" alt="cfa")
      img.mobile(src="http://placehold.it/800x500" alt="cfa")
    .content-wrap
      p CFA协会一直致力于推广道德标准和专业行为守则，提倡建立公平的金融市场。
      p 金融市场需要有高的道德标准和好的管理。
      p 在金融市场中的投资者应当得到合理的回报，如果金融市场的参与者拥有更多知识，金融市场将会更高效。

  +color-block('发展<br>议程')(class='meetting opposite')
    .content-wrap
      p.
        过去五十年里虽然对行业发展做了些贡献，但是随着时代变化，我们遇到新的商业模式，
        过去五十年里虽然对行业发展做了些贡献，但是随着时代变化，我们遇到新的商业模式新的机遇挑战，
        随着行业发展，我们怎么来实践我们的价值观和愿景，提升行业，为社会服务？
      .content-wrap.inner
        h3.colored-text 培养专业人士
        p.
          更好的展示成为专业人士的意义。倡导与全球市场相关、以实践为基础的教育。
      .content-wrap.inner
        h3.colored-text 提升会员价值
        p.
          加强与各地分会合作，更好的服务于我们的会员，并通过会员更好的服务于投资者。
      .content-wrap.inner
        h3.colored-text 建立诚信体系
        p.
          帮助建立健康的投资环境和行业的成功未来。与全球企业主进行多方面的合作，提高行业的专业性。
      p.
        上述这几个方面我们在未来都要提供具有影响力的行业相关内容，真正影响行业，政策制定者，
        企业，投资者，社会。上述这几个方面我们在未来都要提供具有影响力的行业相关内容。大家
        协作共进共同提高投资行业的发展。

  +color-block('行动<br>计划')(class='plan')
    .responsive-img
      img.desktop(src="http://placehold.it/720x360" alt="cfa")
      img.mobile(src="http://placehold.it/800x500" alt="cfa")
    .content-wrap
      p.
        建立一个强大、有公信力的投资行业需要敢于创新与前进的领导力和对高标准的持续承诺。建立一个
        强大、有公信力的投资行业需要敢于创新与前进的领导力和高标准。我们建议企业采取行动来建立行业专业性。
      h3.colored-text 为从业人员建立专业标准
      p.
        企业要雇佣有高标准建立一个强大、有公信力的投资行业需要敢于创新与前进的领导力和对高标准的持续承诺。建立一个
        强大、有公信力的投资行业需要敢于创新与前进的领导力和高标准。我们建议企业采取行动来建立行业专业性。
        建立一个强大、有公信力的投资行业需要敢于创新与前进的领导力和对高标准的持续承诺。建立一个
        强大、有公信力的投资行业需要敢于创新与前进的领导力和高标准。我们建议企业采取行动来建立行业专业性。
      h3.colored-text 建立以投资者利益为先的商业模式
      p.
        建立一个强大、有公信力的投资行业需要敢于创新与前进的领导力和对高标准的持续承诺。建立一个
        强大、有公信力的投资行业需要敢于创新与前进的领导力和高标准。我们建议企业采取行动来建立行业专业性。
        建立一个强大、有公信力的投资行业需要敢于创新与前进的领导力和对高标准的持续承诺。建立一个
        强大、有公信力的投资行业需要敢于创新与前进的领导力和高标准。我们建议企业采取行动来建立行业专业性。
        建立一个强大、有公信力的投资行业需要敢于创新与前进的领导力和对高标准的持续承诺。建立一个
        强大、有公信力的投资行业需要敢于创新与前进的领导力和高标准。我们建议企业采取行动来建立行业专业性。
      h3.colored-text 强化监管，统一标准
      p.
        建立一个强大、有公信力的投资行业需要敢于创新与前进的领导力和对高标准的持续承诺。建立一个
        强大、有公信力的投资行业需要敢于创新与前进的领导力和高标准。我们建议企业采取行动来建立行业专业性。
        建立一个强大、有公信力的投资行业需要敢于创新与前进的领导力和对高标准的持续承诺。建立一个
        强大、有公信力的投资行业需要敢于创新与前进的领导力和高标准。我们建议企业采取行动来建立行业专业性。
        建立一个强大、有公信力的投资行业需要敢于创新与前进的领导力和对高标准的持续承诺。建立一个
        强大、有公信力的投资行业需要敢于创新与前进的领导力和高标准。我们建议企业采取行动来建立行业专业性。
        建立一个强大、有公信力的投资行业需要敢于创新与前进的领导力和对高标准的持续承诺。建立一个
        强大、有公信力的投资行业需要敢于创新与前进的领导力和高标准。我们建议企业采取行动来建立行业专业性。

  +color-block('CFA<br>历史')(class='history opposite')
    .time-line  
      .line.colored-bg
      - var n = 2016;
      while n-- > 2008
        .time-line-item
          .time-line-block
            .img-holder
              img(src="http://placehold.it/282x161?text=#{n}" alt="cfa")
            .year.colored-text= n
          .time-line-info 中国成为除美国之外世界上CFA候选人数量最多的国家

    .more-wrap
      .more
        .arrow.colored-border
        .colored-text 浏览更多
