.footer-container
  #qrcode-weixin
    .bg-cover
    .weixin
      img(src="static/resources/images/weixin-qrcode.png" alt="cfa")
      .text 关注公众号“CFAINSTITUTE”<br/>随时了解CFA协会最新动态
  .footer
    .links-destop
      .group
        .title 关于我们
        .content
          a(href="#") CFA协会
      .group
        .title 新闻和观点
        .content
          a(href="#") 新闻发布
          a(href="#") 最新活动
          a(href="#") CFA观点
      .group
        .title CFA观点
        .content
          a(href="#") 道德标准
      .group
        .title CFA认证
        .content
          a(href="#") CFA课程
          a(href="#") 职业发展
    .links-mobile
      .group
        .title 关于我们
        .content
          a(href="#") CFA协会
      .group
        .title 新闻和观点
        .content
          a(href="#") 新闻发布
          a(href="#") 最新活动
          a(href="#") CFA观点
      .group
        .title CFA观点
        .content
          a(href="#") 道德标准
      .group
        .title CFA认证
        .content
          a(href="#") CFA课程
          a(href="#") 职业发展
    .social
      .text 关注我们
      .ways
        a.way(href="javascript:;")
          img.weixin(src='static/resources/icons/wechat-footer.png' alt="cfa")
        a.way(href="#", target="_blank")
          img(src='static/resources/icons/sina-footer.png' alt="cfa")
        a.way(href="#", target="_blank")
          img(src='static/resources/icons/in-footer.png' alt="cfa")
    .privacy
      a(href="#") 法律声明
      a(href="#") 隐私条款
      a(href="#") 全球官网
      br
      a(href="#") CFA中国-上海官网
      a(href="#") CFA北京官网
    .copyright 2015 CFA Institute. All rights reserved.
              
