@require '../../common/css/define'

colored-block-with(#5b77cc)
.terms-detail
  margin-top 40px
  h4
    font-weight normal
    font-size 25px
    margin 0 0 20px 0
    +media_s()
      font-size 20px
  h5
    font-size 18px
    font-weight normal
    margin 0
    +media_s()
      font-size 16px
  .alpha
    list-style-type upper-alpha
    padding-left 18px
  a.colored-text
    color #003DA5
