extends ../../common/html/layout

block content
  h1.display-none cfa
  .area-inner
    .content-wrap 
      h3.colored-text 使用条款和条件
      p.colored-text 最近更新日期：2013年9月
      p 请认真阅读本页内容。在使用本网站时，即表示您同意受下文所述条款和条件约束。因此，若您不接受下列条款和条件，请不要使用本网站。如相关条款和条件被修改，CFA Institute（CFA协会）会随时更新此公告。因此，由于下列条款和条件对您具有约束力，请您定期访问本网页，进行审查。
      .terms-detail
        h4.title.colored-text 1. 网站资料的使用
        p 本网站的内容受版权法及其他知识产权法律的保护，以防止在美国及其他国家未经授权的使用。CFA Institute（CFA协会）授权您查阅并下载本网页的材料，但该资料仅可用于个人用途，非商业用途。在您创作的文件中，关于网站资料部分必须保留原文件中所包含的版权声明及其他专有权利声明。您不得以任何方式为任何公开或商业目的而出售或修改我们的网站资料，也不得复制、展示、公开表演、分发或以其他方式使用。除非另有说明，本网站中所显示的名称、标识及徽标的所有权归CFA Institute（CFA协会）所有，CFA Institute（CFA协会）享有相应的许可权。除非相关条款和条件中另有规定，所有标识的使用均被禁止。若您违反这类条款，您享有的使用网站资料的权力将自动终止，且您必须立即销毁包含这些材料的相关文件。
      .terms-detail
        h4.title.colored-text 2. 用户生成内容
        h5.subtitle.colored-text 2.1 用户内容
        p 本网站的内容受版权法及其他知识产权法律的保护，以防止在美国及其他国家未经授权的使用。CFA Institute（CFA协会）授权您查阅并下载本网页的材料，但该资料仅可用于个人用途，非商业用途。在您创作的文件中，关于网站资料部分必须保留原文件中所包含的版权声明及其他专有权利声明。您不得以任何方式为任何公开或商业目的而出售或修改我们的网站资料，也不得复制、展示、公开表演、分发或以其他方式使用。除非另有说明，本网站中所显示的名称、标识及徽标的所有权归CFA Institute（CFA协会）所有，CFA Institute（CFA协会）享有相应的许可权。除非相关条款和条件中另有规定，所有标识的使用均被禁止。若您违反这类条款，您享有的使用网站资料的权力将自动终止，且您必须立即销毁包含这些材料的相关文件。
        h5.subtitle.colored-text 2.1 用户内容
        p 本网站的内容受版权法及其他知识产权法律的保护，以防止在美国及其他国家未经授权的使用。CFA Institute（CFA协会）授权您查阅并下载本网页的材料，但该资料仅可用于个人用途，非商业用途。在您创作的文件中，关于网站资料部分必须保留原文件中所包含的版权声明及其他专有权利声明。您不得以任何方式为任何公开或商业目的而出售或修改我们的网站资料，也不得复制、展示、公开表演、分发或以其他方式使用。除非另有说明，本网站中所显示的名称、标识及徽标的所有权归CFA Institute（CFA协会）所有，CFA Institute（CFA协会）享有相应的许可权。除非相关条款和条件中另有规定，所有标识的使用均被禁止。若您违反这类条款，您享有的使用网站资料的权力将自动终止，且您必须立即销毁包含这些材料的相关文件。
        h5.subtitle.colored-text 2.1 用户内容
        p 本网站的内容受版权法及其他知识产权法律的保护，以防止在美国及其他国家未经授权的使用。CFA Institute（CFA协会）授权您查阅并下载本网页的材料，但该资料仅可用于个人用途，非商业用途。在您创作的文件中，关于网站资料部分必须保留原文件中所包含的版权声明及其他专有权利声明。您不得以任何方式为任何公开或商业目的而出售或修改我们的网站资料，也不得复制、展示、公开表演、分发或以其他方式使用。除非另有说明，本网站中所显示的名称、标识及徽标的所有权归CFA Institute（CFA协会）所有，CFA Institute（CFA协会）享有相应的许可权。除非相关条款和条件中另有规定，所有标识的使用均被禁止。若您违反这类条款，您享有的使用网站资料的权力将自动终止，且您必须立即销毁包含这些材料的相关文件。
        h5.subtitle.colored-text 2.1 用户内容
        p 本网站的内容受版权法及其他知识产权法律的保护，以防止在美国及其他国家未经授权的使用。CFA Institute（CFA协会）授权您查阅并下载本网页的材料，但该资料仅可用于个人用途，非商业用途。在您创作的文件中，关于网站资料部分必须保留原文件中所包含的版权声明及其他专有权利声明。您不得以任何方式为任何公开或商业目的而出售或修改我们的网站资料，也不得复制、展示、公开表演、分发或以其他方式使用。除非另有说明，本网站中所显示的名称、标识及徽标的所有权归CFA Institute（CFA协会）所有，CFA Institute（CFA协会）享有相应的许可权。除非相关条款和条件中另有规定，所有标识的使用均被禁止。若您违反这类条款，您享有的使用网站资料的权力将自动终止，且您必须立即销毁包含这些材料的相关文件。
        h5.subtitle.colored-text 2.1 用户内容
        p 本网站的内容受版权法及其他知识产权法律的保护，以防止在美国及其他国家未经授权的使用。CFA Institute（CFA协会）授权您查阅并下载本网页的材料，但该资料仅可用于个人用途，非商业用途。在您创作的文件中，关于网站资料部分必须保留原文件中所包含的版权声明及其他专有权利声明。您不得以任何方式为任何公开或商业目的而出售或修改我们的网站资料，也不得复制、展示、公开表演、分发或以其他方式使用。除非另有说明，本网站中所显示的名称、标识及徽标的所有权归CFA Institute（CFA协会）所有，CFA Institute（CFA协会）享有相应的许可权。除非相关条款和条件中另有规定，所有标识的使用均被禁止。若您违反这类条款，您享有的使用网站资料的权力将自动终止，且您必须立即销毁包含这些材料的相关文件。
      .terms-detail
        h4.title.colored-text 3. 链接及徽标的使用
        p 本网站的内容受版权法及其他知识产权法律的保护，以防止在美国及其他国家未经授权的使用。CFA Institute（CFA协会）授权您查阅并下载本网页的材料，但该资料仅可用于个人用途，非商业用途。在您创作的文件中，关于网站资料部分必须保留原文件中所包含的版权声明及其他专有权利声明。您不得以任何方式为任何公开或商业目的而出售或修改我们的网站资料，也不得复制、展示、公开表演、分发或以其他方式使用。除非另有说明，本网站中所显示的名称、标识及徽标的所有权归CFA Institute（CFA协会）所有，CFA Institute（CFA协会）享有相应的许可权。除非相关条款和条件中另有规定，所有标识的使用均被禁止。
          a(href="#").colored-text trademark@cfainstitute.org
          | 本网站的内容受版权法及其他知识产权法律的保护，以防止在美国及其他国家未经授权的使用。
      .terms-detail
        h4.title.colored-text 4. 责任
        p 本网站的内容受版权法及其他知识产权法律的保护，以防止在美国及其他国家未经授权的使用。CFA Institute（CFA协会）授权您查阅并下载本网页的材料，但该资料仅可用于个人用途，非商业用途。在您创作的文件中，关于网站资料部分必须保留原文件中所包含的版权声明及其他专有权利声明。您不得以任何方式为任何公开或商业目的而出售或修改我们的网站资料，也不得复制、展示、公开表演、分发或以其他方式使用。除非另有说明，本网站中所显示的名称、标识及徽标的所有权归CFA Institute（CFA协会）所有，CFA Institute（CFA协会）享有相应的许可权。除非相关条款和条件中另有规定，所有标识的使用均被禁止。若您违反这类条款，您享有的使用网站资料的权力将自动终止，且您必须立即销毁包含这些材料的相关文件。
        p 本网站的内容受版权法及其他知识产权法律的保护，以防止在美国及其他国家未经授权的使用。CFA Institute（CFA协会）授权您查阅并下载本网页的材料，但该资料仅可用于个人用途，非商业用途。在您创作的文件中，关于网站资料部分必须保留原文件中所包含的版权声明及其他专有权利声明。您不得以任何方式为任何公开或商业目的而出售或修改我们的网站资料，也不得复制、展示、公开表演、分发或以其他方式使用。除非另有说明，本网站中所显示的名称、标识及徽标的所有权归CFA Institute（CFA协会）所有，CFA Institute（CFA协会）享有相应的许可权。除非相关条款和条件中另有规定，所有标识的使用均被禁止。若您违反这类条款，您享有的使用网站资料的权力将自动终止，且您必须立即销毁包含这些材料的相关文件。
        p 本网站的内容受版权法及其他知识产权法律的保护，以防止在美国及其他国家未经授权的使用。CFA Institute（CFA协会）授权您查阅并下载本网页的材料，但该资料仅可用于个人用途，非商业用途。在您创作的文件中，关于网站资料部分必须保留原文件中所包含的版权声明及其他专有权利声明。您不得以任何方式为任何公开或商业目的而出售或修改我们的网站资料，也不得复制、展示、公开表演、分发或以其他方式使用。除非另有说明，本网站中所显示的名称、标识及徽标的所有权归CFA Institute（CFA协会）所有，CFA Institute（CFA协会）享有相应的许可权。除非相关条款和条件中另有规定，所有标识的使用均被禁止。若您违反这类条款，您享有的使用网站资料的权力将自动终止，且您必须立即销毁包含这些材料的相关文件。
      .terms-detail
        h4.title.colored-text 5. 从美国境外访问（美国财政部海外资产控制办公室的限制）
        p 本网站的内容受版权法及其他知识产权法律的保护，以防止在美国及其他国家未经授权的使用。CFA Institute（CFA协会）授权您查阅并下载本网页的材料，但该资料仅可用于个人用途，非商业用途。在您创作的文件中，关于网站资料部分必须保留原文件中所包含的版权声明及其他专有权利声明。您不得以任何方式为任何公开或商业目的而出售或修改我们的网站资料，也不得复制、展示、公开表演、分发或以其他方式使用。除非另有说明，本网站中所显示的名称、标识及徽标的所有权归CFA Institute（CFA协会）所有，CFA Institute（CFA协会）享有相应的许可权。除非相关条款和条件中另有规定，所有标识的使用均被禁止。若您违反这类条款，您享有的使用网站资料的权力将自动终止，且您必须立即销毁包含这些材料的相关文件。
        p 本网站的内容受版权法及其他知识产权法律的保护，以防止在美国及其他国家未经授权的使用。CFA Institute（CFA协会）授权您查阅并下载本网页的材料，但该资料仅可用于个人用途，非商业用途。在您创作的文件中，关于网站资料部分必须保留原文件中所包含的版权声明及其他专有权利声明。您不得以任何方式为任何公开或商业目的而出售或修改我们的网站资料，也不得复制、展示、公开表演、分发或以其他方式使用。除非另有说明，本网站中所显示的名称、标识及徽标的所有权归CFA Institute（CFA协会）所有，CFA Institute（CFA协会）享有相应的许可权。除非相关条款和条件中另有规定，所有标识的使用均被禁止。若您违反这类条款，您享有的使用网站资料的权力将自动终止，且您必须立即销毁包含这些材料的相关文件。
        p 本网站的内容受版权法及其他知识产权法律的保护，以防止在美国及其他国家未经授权的使用。CFA Institute（CFA协会）授权您查阅并下载本网页的材料，但该资料仅可用于个人用途，非商业用途。在您创作的文件中，关于网站资料部分必须保留原文件中所包含的版权声明及其他专有权利声明。您不得以任何方式为任何公开或商业目的而出售或修改我们的网站资料，也不得复制、展示、公开表演、分发或以其他方式使用。除非另有说明，本网站中所显示的名称、标识及徽标的所有权归CFA Institute（CFA协会）所有，CFA Institute（CFA协会）享有相应的许可权。除非相关条款和条件中另有规定，所有标识的使用均被禁止。若您违反这类条款，您享有的使用网站资料的权力将自动终止，且您必须立即销毁包含这些材料的相关文件。
      .terms-detail
        h4.title.colored-text 6. 对版权侵权行为的通知及程序
        p 本网站的内容受版权法及其他知识产权法律的保护，以防止在美国及其他国家未经授权的使用。CFA Institute（CFA协会）授权您查阅并下载本网页的材料，但该资料仅可用于个人用途，非商业用途。在您创作的文件中，关于网站资料部分必须保留原文件中所包含的版权声明及其他专有权利声明。您不得以任何方式为任何公开或商业目的而出售或修改我们的网站资料，也不得复制、展示、公开表演、分发或以其他方式使用。除非另有说明，本网站中所显示的名称、标识及徽标的所有权归CFA Institute（CFA协会）所有，CFA Institute（CFA协会）享有相应的许可权。除非相关条款和条件中另有规定，所有标识的使用均被禁止。若您违反这类条款，您享有的使用网站资料的权力将自动终止，且您必须立即销毁包含这些材料的相关文件。
        p 丽莎•克勒曼（Lisa L. Kellerman<br>
          | CFA Institute（CFA协会）<br>
          | 美国弗吉尼亚州夏洛茨维尔市东大街 915号 邮编：22902<br>
          | 电话：+1 (434) 951-5548<br>
          | 传真：+ 1 (434) 951-5560<br>
          | 电邮：
          a(href="#").colored-text lisa.kellerman@cfainstitute.org
        p 为使依据数字版权法的规定具有效力，通知必须采用书面形式，且须包括下列所有内容：
        ul.alpha
          li 经版权或其他排他性知识产权的所有权人授权人士的纸质或电子签字
          li 经版权或其他排他性知识产权的所有权人授权人士的纸质或电子签字
          li 经版权或其他排他性知识产权的所有权人授权人士的纸质或电子签字
          li 经版权或其他排他性知识产权的所有权人授权人士的纸质或电子签字
          li 经版权或其他排他性知识产权的所有权人授权人士的纸质或电子签字
      .terms-detail
        h4.title.colored-text 7. 一般规定
        p 本网站的内容受版权法及其他知识产权法律的保护，以防止在美国及其他国家未经授权的使用。CFA Institute（CFA协会）授权您查阅并下载本网页的材料，但该资料仅可用于个人用途，非商业用途。在您创作的文件中，关于网站资料部分必须保留原文件中所包含的版权声明及其他专有权利声明。您不得以任何方式为任何公开或商业目的而出售或修改我们的网站资料，也不得复制、展示、公开表演、分发或以其他方式使用。除非另有说明，本网站中所显示的名称、标识及徽标的所有权归CFA Institute（CFA协会）所有，CFA Institute（CFA协会）享有相应的许可权。除非相关条款和条件中另有规定，所有标识的使用均被禁止。若您违反这类条款，您享有的使用网站资料的权力将自动终止，且您必须立即销毁包含这些材料的相关文件。
