@require '../../common/css/define'

colored-block-with(#5b77cc)

.news-wrap
  +media_s()
    padding 15px

.news-control
  font-size 16px
  font-weight normal
  padding 30px
  clearfix()
  +media_s()
    padding 15px 0
    font-size 14px
  .back
    float left
  .prev
    float right
  .next
    float right
    margin-left 40px
    +media_s()
      margin-left 20px

.news-box
  border 1px solid #ededed
  padding 25px 30px
  +media_s()
    padding 15px
  .news-title
    font-size 25px
    font-weight normal
    margin-bottom 20px
    line-height 1.5em
    +media_s()
      margin-bottom 15px
  .news-subtitle1
    font-size 22px
    line-height 1.5em
    +media_s()
      font-size 20px
  .news-subtitle2
    font-size 22px
    text-transform uppercase
    margin-bottom 20px
    line-height 1.5em
    +media_s()
      font-size 20px
      margin-bottom 15px
  h2
    font-size 22px
    font-weight normal
    margin 0 0 20px 0
    +media_s()
      font-size 20px
      margin-bottom 15px
  .list-title
    +media_s()
      font-size 14px
  ul,
  ol
    margin 10px 0 20px
    +media_s()
      margin-bottom 15px
    li
      margin-bottom 10px
      +media_s()
        font-size 14px
      &:last-child
        margin-bottom 0
    &.numbered
      list-style decimal
      padding-left 22px
      li
        margin-bottom 20px
        padding-left 0
        +media_s()
          margin-bottom 15px
        &:last-child
          margin-bottom 0
  .notice
    margin-bottom 20px
    +media_s()
      margin-bottom 15px
    p
      font-size 12px
      margin-bottom 0
  .news-image
    margin-bottom 20px
    +media_s()
      margin-bottom 15px
  p
    margin 0 0 20px 0
    &:last-child
      margin 0
    +media_s()
      margin-bottom 15px
  p.author
    text-align right
  .download
    background-image url(../resources/icons/download.png)
    margin-right 0.5em
    width 21px
    height 16px
    position relative
    top 2px
    
html:lang(en)
  .news-control
    font-size 15px
