extends ../../common/html/layout

block content
  .area-inner
    .news-wrap
      .news-control
        a(href='#').colored-text.back < 返回
        a(href='#').colored-text.next 下一篇 >
        a(href='#').colored-text.prev < 上一篇
      .news-box
        h1.news-title.colored-text
          | CFA中国- 上海
          br
          | 2015 CFA 特许金融分析师专业资格认证仪式
        .news-subtitle1.colored-text 2015年8月6日
        .news-subtitle2.colored-text Larry Cao，CFA
        .news-image
          img(src='http://placehold.it/960x200' alt="cfa")

        - var n = 0;
        while n++ < 2
          p.
            CFA中国上海热烈恭贺上海地区2015年度新晋CFA特许资格认证持有人！并诚挚邀请您参加于2015年12月13日在位于浦江之畔的陆家嘴金融城新地标“中国金融信息中心”举办的年度特许金融分析师专业资格认证仪式。来自CFA协会、政府监管机构和金融业界的资深高管将莅临现场见证您人生中最重要的时刻！
        p.
          “人生3万天，我们一路过桥观云、品酒美食，<br>
          但无论哪里，我们内心都有一个深深的烙印，<br>
          为了这个名字，在每个绝不温柔走进的良夜，记载着我们内心矢志卓越的拼搏。<br>
          我们用近1万小时才在这里相遇，这一切只是起点。<br>
          予人玫瑰、留有余香，<br>
          这是市场运作的逻辑，将每个人对于财富和成功的追求化为对社会财富和价值的贡献。<br>
          CFA特许金融分析师，<br>
          作为全球金融投资界最为推崇的“黄金标准”，<br>
          意味着秉持最高道德标准、拥有广博专业知识和卓越专业实践技能。<br>
          今天，你以CFA为荣，明天，她将以你为傲，<br>
          因为<br>
          金融未来，由你开创！”
        p.author ---陈虎, CFA, 首席顾问，CFA中国上海    
        .events-detail
          h2.colored-text 活动详情 
          p 日期: 2015年12月13日，星期日
          .list-title 时间:
          ul 
            li 6:00 p.m. –7:00 p.m. 签到和接待
            li 6:00 p.m. –7:00 p.m. 签到和接待
            li 6:00 p.m. –7:00 p.m. 签到和接待
          p 互动地点: 中国上海市浦东新区东园路18号中国金融信息中心3楼上海厅（地铁2号线陆家嘴站1号出口）
          .list-title 费用:
          ul
            li CFA协会会员-免费
            li CFA协会会员-免费
            li 其他来宾，包含非CFA会员、非CFA考生、新持证人的家属或朋友等-每位RMB300 (活动现场签到处支付)
          .notice
            p *5.93%的税费已包含在报名费用中；
            p *5.93%的税费已包含在报名费用中；
          .list-title 报名方式：
          ul 
            li CFA会员和考生–CFA协会官网在线报名，并以信用卡在线支付报名费
            li CFA会员和考生–CFA协会官网在线报名，并以信用卡在线支付报名费
          p 着装：商务
          h2.colored-text  特别注意事项：
          ul.numbered 
            li 您可通过CFA协会的会员申请页面了解如何申请成为CFA持证人。
            li 您可通过CFA协会的会员申请页面了解如何申请成为CFA持证人。
            li 您可通过CFA协会的会员申请页面了解如何申请成为CFA持证人。
            li 如果你暂时不准备参与我们本年度的授证仪式，或您的CFA资格申请未能在报名截止日前得到批准，您的证书将通过邮寄的方式送达。请您登陆CFA协会官网，确保您的个人地址信息准确无误。
            li 如果您有任何疑问，欢迎拨打电话(+86-21) 51167150向林女士咨询。CFA 会员和考生报名指南请点击此处打开活动在线报名链接。
          .news-image
            img(src='http://placehold.it/960x550' alt="cfa")
          h2.colored-text 步骤：
          ul.numbered
            li 凭个人用户名登陆；
            li 在确认报名费后点击右下角“Continue”（CFA会员的报名费用会在下一步中调整为0元，CFA考生的报名
            li 费用为USD 30）；
            li 用信用卡支付报名费来宾报名指南（非CFA会员、非CFA考生、新持证人的亲属和朋友）请点击此处或扫以下二维码，在线为您的嘉宾报名。*考虑到会场席位有限，每位新持证人仅限携带一位来宾参与，且在会场中，来宾的座位将安排在独立的“亲友区”。
          h2.colored-text 活动报名和取消条例
          ul.numbered
            li 在您完成在线报名后，确认信将自动发送至您的邮箱。
            li 请尽快完成您的活动在线报名和费用支付，以确保您的席位。
            li 来宾的费用请于活动当日在签到处支付。
            li 如果你在活动当日没有出席，报名费用将不予退回。
        a.button.colored-bg(href='#')
          .icon.download
          | 下载了解更多资讯

      .news-control
        a(href='#').colored-text.back < 返回
        a(href='#').colored-text.next 下一篇 >
        a(href='#').colored-text.prev < 上一篇
