mixin banner-slider()
  .banner
    #main-slider
      a(href="#").item.responsive-img
        img.desktop(src="http://placehold.it/1600x900?text=1" alt="cfa")
        img.mobile(src="http://placehold.it/800x1000?text=1" alt="cfa")
      a(href="#").item.responsive-img
        img.desktop(src="http://placehold.it/1600x900?text=2" alt="cfa")
        img.mobile(src="http://placehold.it/800x1000?text=2" alt="cfa")
      a(href="#").item.responsive-img
        img.desktop(src="http://placehold.it/1600x900?text=3" alt="cfa")
        img.mobile(src="http://placehold.it/800x1000?text=3" alt="cfa")
